<%= form_for [site, review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :rating %>
      <%= f.radio_button(:rating, 5) %>
      <%= f.label "5" %>
      <%= f.radio_button(:rating, 4) %>
      <%= f.label "4" %>
      <%= f.radio_button(:rating, 3) %>
      <%= f.label "3" %>
      <%= f.radio_button(:rating, 2) %>
      <%= f.label "2" %>
      <%= f.radio_button(:rating, 1) %>
      <%= f.label "1" %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :body %>
  </p>

  <%= f.submit %>
<% end %>
