<h1><%= @site.title %></h1>
  <h3><%= link_to @site.url, @site.formatted_url %></h3>
<p><%= @site.description %></p>
<% if user_has_permision_to_change?(@site) %>
  <%= link_to "Edit", edit_site_path %>
  <%= link_to "Delete", @site, method: :delete, data: {   confirm: "Are you sure?" } %><br>
<% end %>
<br />
<% unless @site.screenshot =~ /shrinktheweb/ %>
  <span class="screenshot"><%= image_tag(@site.screenshot) %></span><br>
<% end %>

<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li> User:
      <% if review.user.avatar.path %>
        <%= image_tag review.user.avatar, height: 36, width: 24 %>
      <% else %>
        <img src="/meta_default.jpg" height=36 width=24 />
      <% end %>
      <%= review.user.username %><br>
      Rating: <%= review.rating %> <br>
      Description: <%= review.body %><br>
      Likes: <%=review.votes.sum(:value)%>
      <div id="edit_review"><% if current_user == review.user || user_has_permision_to_change?(review) %>
        <%= link_to "Edit Review", edit_site_review_path(@site, review)%> |
        <%= link_to "Delete Review", site_review_path(@site, review) , method: :delete, data:
        { confirm: "Are your sure?" } %>
       <% end %></div>

      <% if review.vote_from?(current_user) %>
        <%= change_review_vote_link_for(review, current_user) %><br>
      <% else %>
         <% if current_user %>
            <%= button_to "Like" , review_votes_path(review),
               method: :post,
               params: {value: 1},
               class: "vote_button" %>
            <%= button_to "Dislike" , review_votes_path(review),
               params: {value: -1} ,
               method: :post,
               class: "vote_button" %><br>
         <% end %>
       <% end %>
      <br>
    </li>

    <% unless review.comments == [] %>
    <button type="button" id="show-comments">Hide Comments<br></button>
    <% end %>

    <br>
    <div class="comment-container">
    <br>
    <% unless review.comments == [] %>
      <hr>
    <% end %>
      <% review.comments.each do |comment| %>

        <li>
        <% if comment.user.avatar.path %>
          <%= image_tag comment.user.avatar, height: 30, width: 20 %>
        <% else %>
          <img src="/meta_default.jpg" height=36 width=24 />
        <% end %>
        <%= comment.body %> --<%= comment.user.username %>
        <% if user_has_permision_to_change?(comment) %>
          <%= link_to "Edit", edit_review_comment_path(review, comment)%> |
          <%= link_to "Delete", review_comment_path(review, comment) , method: :delete, data:
          { confirm: "Are your sure?" } %></li>
        <% end %>
      <% end %>
      <% unless review.comments == [] %>
        <hr>
      <% end %>
    </div>
    <% if current_user %>
        <p><%= link_to "New Comment", new_review_comment_path(review) %></p>
      <% end %>
  <% end %>
</ul>

<p>
<% if @user_review.nil? %>
  <%= link_to "Make a Review", new_site_review_path(@site) %>
<% end %>
</p>

<p><%= link_to "Back", sites_path %></p>
