<h1><%= @site.title %></h1>

<h3><%= link_to @site.url, @site.url %></h3>
<p><%= @site.description %></p>

<%= link_to "Edit", edit_site_path %>
<%= link_to "Delete", @site, method: :delete, data: { confirm: "Are you sure?" } %>
<br />
<%= link_to "Back", sites_path %>
