<h1><%= @site.title %></h1>

<h3><%= link_to @site.url, @site.url %></h3>
<p><%= @site.description %></p>

<% if current_user == @site.user %>
  <%= link_to "Edit", edit_site_path %>
  <%= link_to "Delete", @site, method: :delete, data: {   confirm: "Are you sure?" } %><br>
<% end %>
<br />
<% unless (stw_show_url @site.url) =~ /</ %>
  <span class="screenshot"><%= stw_show @site.url %></span><br>
<% end %>

<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      User: <%= review.user.username %><br>
      Rating: <%= review.rating %> <br>
      Description: <%= review.body %><br>
      Likes: <%=review.votes.sum(:value)%>

      <% if review.vote_from?(current_user) %>
        <%= change_review_vote_link_for(review, current_user) %>
      <% else %>
        <%= button_to "Upvote" , review_votes_path(review),
           method: :post,
           params: {value: 1},
           class: "button" %>
        <%= button_to "Downvote" , review_votes_path(review),
           params: {value: -1} ,
           method: :post,
           class: "button" %>
      <% end %>

      <p><% if current_user == review.user %>
        <%= link_to "Edit Review", edit_site_review_path(@site, review)%> |
        <%= link_to "Delete Review", site_review_path(@site, review) , method: :delete, data:
        { confirm: "Are your sure?" } %>
       <% end %></p>
    </li>

    <div class="comment-container">
      <h4>Comments</h4>

      <% review.comments.each do |comment| %>
        <li><%= comment.body %> --<%= comment.user.username %>
        <%= link_to "Edit", edit_review_comment_path(review, comment)%> |
        <%= link_to "Delete", review_comment_path(review, comment) , method: :delete, data:
        { confirm: "Are your sure?" } %></li>
      <% end %>

      <p><%= link_to "New Comment", new_review_comment_path(review) %></p>
    </div>
  <% end %>
</ul>

<p>
<% if @user_review == nil %>
<%= link_to "Make a Review", new_site_review_path(@site) %>
<% end %>
</p>

<p><%= link_to "Back", sites_path %></p>
