<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Meta Review" %>
    </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <h1><%= link_to "Meta Review", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
      <li class="has-dropdown">
        <% if current_user.avatar.path %>
          <%= image_tag current_user.avatar, height: 36, width: 24 %>
        <% else %>
          <img src="/meta_default.jpg" height=36 width=24 />
        <% end %>
        <strong><%= current_user.username %></strong>
        <ul class="dropdown">
          <li><%= link_to "Sign out", destroy_user_session_path, data: {method: 'delete'} %></li>
          <li><%= link_to "Edit Account Information",edit_user_registration_path %></li>
      <% else %>
        <li class="has-dropdown">
        <a href="#">User</a>
        <ul class="dropdown">
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Create Account", new_user_registration_path %>
        </li>
        <% end %>
        </ul>
      </li>

    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "All Sites", sites_path %></li>
      <li class="has-form">
        <div class="row collapse">
          <%= form_tag sites_path, :method => 'get' do %>
            <div class="large-8 small-8 columns">
              <%= text_field_tag :search, params[:search]%>
            </div>
            <div class="large-4 small-3 columns">
              <%= submit_tag "Search", :name => nil,  class: "search-button"%>
            </div>
          <% end %>
        </div>
      </li>
    </ul>
  </section>
 </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="row">
  <div class="small-12 columns">
  <%= yield %>
</div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>

